@import url("../main.css");

.open {
    display: flex !important;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media screen and (max-width: 992px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        background-color: var(--second-color);
        z-index: 50;
    }

    .header__navigation {
        display: none;
    }

    .header__burger {
        display: flex;
        position: relative;
        z-index: 50;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }
    
    .header__burger span {
        height: 2px;
        width: 45%;
        transform: scale(1);
        background-color: var(--second-color);
        border-radius: 5px;
    }
    
    .header__burger::before, .header__burger::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 45%;
        background-color: var(--second-color);
        transition: all 0.3s ease 0s;
        border-radius: 5px;
    }
    
    .header__burger::before {
        top: 13px;
    }
    
    .header__burger::after {
        bottom: 13px;
    }

    .header__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background-color: var(--bg-element-color);
    }

    .header__navigation {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 49;
        overflow-y: auto;
        padding: 90px 20px;
        background-color: var(--second-color);
        animation: burgerAnimation 0.4s;
    }

    .nav__item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    .nav__item a {
        margin-left: 12px;
    }

    .nav__item img{
        width: 20px;
        height: 20px;
    }

}